---
import Layout from "@/layouts/Layout.astro"
import AboutUS from "@/sections/AboutUS.astro"
---

<Layout description={"Acerca de Constructora Colombia"} title={"Acerca de Constructora Colombia"}>
	<main class="flex flex-col items-center">
		<div class="w-full lg:flex lg:items-center">
			<AboutUS />
		</div>
	</main>
</Layout>
