---
import Layout from "@/layouts/Layout.astro"
import Contact from "@/sections/Contact.astro"
---

<Layout
	description={"Contacto de Constructora Colombia"}
	title={"Contacto de Constructora Colombia"}
>
	<main class="flex flex-col items-center">
		<div class="w-full lg:flex lg:items-center">
			<Contact />
		</div>
	</main>
</Layout>
