---
import Layout from "@/layouts/Layout.astro"
import Error from "@/sections/Error.astro"
---

<Layout
	description="Web Oficial de Constructora Colombia IV, Desarrolladora inmobiliaria de proyectos de propiedad horizontal residencial"
	title="Constructora Colombia 4 - Página no encontrada"
>
	<main>
		<Error
			error="404"
			message="Página no encontrada"
			contextMessage="¡Hola! Lo sentimos, pero no pudimos encontrar lo que buscabas. Verifica que la dirección URL sea correcta."
		/>
	</main>
</Layout>
