---
import Layout from "@/layouts/Layout.astro"
import Countdown from "@/sections/Countdown.astro"

import Hero from "@/sections/Hero.astro"
import Info from "@/sections/Info.astro"
import PresentationVideo from "@/sections/PresentationVideo.astro"
import PrincipalDate from "@/sections/PrincipalDate.astro"
import SelectYourProject from "@/sections/SelectYourProject.astro"
import Sponsors from "@/sections/Sponsors.astro"
---

<Layout
	description="Web Oficial de Constructora Colombia, Desarrolladora inmobiliaria de proyectos de propiedad horizontal residencial"
	title="Constructora Colombia - Desarrolladora inmobiliaria"
	canonical="https://constructoracolombia.co"
>
	<Hero />

	<main>
		<PrincipalDate />
		<SelectYourProject />
		<PresentationVideo />
		<Info />
		<!-- <Boxing /> -->
		<Sponsors />
		<Countdown />
	</main>
</Layout>
