---
import Layout from "@/layouts/Layout.astro"
import Hero from "@/sections/Hero.astro"
import PresentationVideo from "@/sections/PresentationVideo.astro"
import SelectYourProject from "@/sections/SelectYourProject.astro"
// import Sponsors from "@/sections/Sponsors.astro"
// import PrincipalDate from "@/sections/PrincipalDate.astro"
---

<Layout
	description="Web Oficial de Constructora Colombia, Desarrolladora inmobiliaria de proyectos de propiedad horizontal residencial"
	title="Constructora Colombia - Desarrolladora inmobiliaria"
	canonical="https://constructoracolombia.co"
>
	<Hero />

	<main>
		<!-- <PrincipalDate /> -->
		<SelectYourProject />
		<PresentationVideo />
		<!-- <TwitchInfo /> -->
		<!-- <Boxing /> -->
		<!-- <Sponsors /> -->
		<!-- <Countdown /> -->
	</main>
</Layout>
