---
import Layout from "@/layouts/Layout.astro"
---

<Layout
	description={"Todos los proyectos de Constructora Colombia"}
	title={"Proyectos de Constructora Colombia"}
>
	<main class="flex flex-col items-center">
		<div class="w-full lg:flex lg:items-center"></div>
	</main>
</Layout>
