---
import WhatsAppIcon from "@/icons/whatsapp.astro"
---

<div id="link-to-whastapp" class="fixed bottom-16 right-3">
	<a
		id="chat-whastapp"
		target="_blank"
		rel="noopener noreferrer"
		aria-label="Chatea con nosotros a traves del WhatsApp de Constructora Colombia"
		href="https://wa.me/573143606173?text=Hola%20estoy%20interesado%20en%20asesorarme%20acerca%20de%20proyectos%20inmobiliarios"
		class="inline-block cursor-default any-hover:scale-125 any-hover:opacity-90 motion-safe:transition motion-reduce:any-hover:scale-100"
	>
		<WhatsAppIcon class="" />
	</a>
</div>
