---
import FacebookIcon from "@/icons/facebook.astro"
import InstagramIcon from "@/icons/instagram.astro"
import TikTokIcon from "@/icons/tiktok.astro"
import XIcon from "@/icons/x.astro"
import YoutubeIcon from "@/icons/youtube.astro"
// import GithubIcon from "@/icons/github.astro"
---

<nav class:list={`${Astro.props.class}`}>
	<ul
		class="flex flex-row items-center gap-x-6"
		aria-label="redes sociales y botón para alternar tema"
	>
		<li>
			<a
				target="_blank"
				rel="noopener"
				aria-label="Instagram de Constructora Colombia, se abrirá en una nueva pestaña"
				href="https://www.instagram.com/constructoracolombiaoficial"
				class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
			>
				<InstagramIcon
					class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
				/>
			</a>
		</li>
		<li>
			<a
				target="_blank"
				rel="noopener"
				aria-label="X de Constructora Colombia, se abrirá en una nueva pestaña"
				href="https://x.com/ConstColOficial"
				class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
			>
				<XIcon
					class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
				/>
			</a>
		</li>
		<li>
			<a
				target="_blank"
				rel="noopener"
				aria-label="Facebook de Constructora Colombia, se abrirá en una nueva pestaña"
				href="https://www.facebook.com/ConstructoraColombiaOficial"
				class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
			>
				<FacebookIcon
					class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
				/>
			</a>
		</li>
		<li>
			<a
				target="_blank"
				rel="noopener"
				aria-label="Youtube de Constructora Colombia, se abrirá en una nueva pestaña"
				href="https://www.youtube.com/@ConstructoraColombiaOficial"
				class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
			>
				<YoutubeIcon
					class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
				/>
			</a>
		</li>
		<li>
			<a
				target="_blank"
				rel="noopener"
				aria-label="TikTok de Constructora Colombia, se abrirá en una nueva pestaña"
				href="https://www.tiktok.com/@const.colombia.oficial"
				class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
			>
				<TikTokIcon
					class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
				/>
			</a>
		</li>
		<!-- <li>
			<a
				target="_blank"
				rel="noopener"
				aria-label="GitHub de Constructora Colombia, se abrirá en una nueva pestaña"
				href="https://github.com/NexaSoft-SAS/ConstructoraColombia"
				class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
			>
				<GithubIcon
					class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
				/>
			</a>
		</li> -->
	</ul>
</nav>
