---
import Typography from "@/components/Typography.astro"
---

<section>
	<Typography as="h3" variant="h3" color="accent" class:list={"text-center"}>
		¿QUIÉNES SOMOS?
	</Typography>
	<Typography as="p" variant="body" color="primary" class:list={"mt-4 text-center"}>
		Constructora Colombia es una desarrolladora inmobiliaria de proyectos de propiedad horizontal
		residencial
	</Typography>
	<Typography as="h3" variant="h3" color="accent" class:list={"mt-12 text-center"}>
		Misión
	</Typography>
	<Typography as="p" variant="body" color="primary" class:list={"mt-4 text-center"}>
		Nos apasionan los proyectos de nuestros clientes y nos comprometemos con su éxito. Contamos con
		un equipo altamente calificado y con amplia experiencia en construcción de proyectos
		residenciales. Te brindamos acompañamiento y asesoría durante todo el proceso, ofreciendo
		soluciones a la medida de tus necesidades y presupuesto.
	</Typography>

	<Typography as="h3" variant="h3" color="accent" class:list={"mt-12 text-center"}>
		Visión
	</Typography>
	<Typography as="p" variant="body" color="primary" class:list={"mt-4 text-center"}>
		Para 2027 vamos a ser una compañía referente en el tema de construcción de vivienda en la ciudad
		de Bogotá y alrededores, contando con variadas obras de propiedad horizontal, que incluyan
		espacios compartidos diseñados para el confort y esparcimiento de nuestros residentes
		inmobiliarios, además de un ambiente en compañía de la naturaleza, destacando tanto por la
		utilidad así como por la modernidad de los detalles y acabados en cada uno de nuestros
		edificios.
	</Typography>
	<Typography as="h3" variant="h3" color="accent" class:list={"mt-12 text-center"}>
		Valores Corporativos
	</Typography>
	<div class="mt-12 flex select-none grid-cols-3 flex-col gap-2 md:grid md:gap-8">
		<Typography as="h3" variant="body" color="primary" class:list={"text-center"}>
			Calidad
		</Typography>
		<Typography as="h3" variant="body" color="primary" class:list={"text-center"}>
			Compromiso
		</Typography>
		<Typography as="h3" variant="body" color="primary" class:list={"text-center"}>
			Atención al detalle
		</Typography>
		<Typography as="h3" variant="body" color="primary" class:list={"text-center"}>
			Sostenibilidad ambiental
		</Typography>
		<Typography as="h3" variant="body" color="primary" class:list={"text-center"}>
			Orientado al cliente
		</Typography>
		<Typography as="h3" variant="body" color="primary" class:list={"text-center"}>
			Mejora continua
		</Typography>
	</div>
</section>
<style></style>
