---
import DrawnCLogo from "@/components/DrawnCLogo.astro"
import LiteYouTube from "@/components/LiteYouTube.astro"
import Typography from "@/components/Typography.astro"
---

<section class="sm:pb-26 md:pb-30 md:pt-30 mt-10 overflow-hidden px-2 pb-24 pt-16 sm:pt-20">
	<Typography as="h3" variant="h3" color="accent" class:list={"text-center"}>
		Presentación
	</Typography>

	<Typography
		as="p"
		variant="body"
		color="primary"
		class:list={"mx-auto mt-4 max-w-[250px] text-wrap text-center"}
	>
		Nuestros proyectos de vivienda
	</Typography>

	<div class="relative mt-8">
		<DrawnCLogo
			class:list={"absolute inset-0 -z-10 m-auto scale-125 select-none drop-shadow-[0_0_40px_rgba(213,255,0,1)]"}
		/>
		<LiteYouTube videoId="replace" backgroundImage="/img/video-presentation-cover.webp" />
	</div>
</section>
